<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jiayang.mvp.mvpframework">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".common.MVPApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".v.activity.MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".mvp.ui.activity.SplashActivity"
                  android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".v.activity.TestActivity"/>
        <activity
            android:name=".v.activity.NumAnimActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".v.activity.TimeSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".v.activity.ChangeBaseUrlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.ZXingActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="jiayang.mvp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".mvp.ui.activity.SpannableActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.CustomActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>